WinTexDLLAI/Web References/UyumErogluProduction/ErogluProduction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePrdBomM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:UyumServiceRequestOfPrdBomMInParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfPrdBomMInParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PrdBomMInParam" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UyumToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdBomMInParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BomTypeCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceMId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BatchQtyEnd" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WoChangeType" type="tns:WoChangeType" />
          <s:element minOccurs="1" maxOccurs="1" name="ScrapQtyType" type="tns:MainScrapQtyType" />
          <s:element minOccurs="1" maxOccurs="1" name="BomControl" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PrdBomDList" type="tns:ArrayOfPrdBomDParam" />
          <s:element minOccurs="0" maxOccurs="1" name="PrdBomDAlternativeList" type="tns:ArrayOfPrdBomDAlternativeParam" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WoChangeType">
        <s:restriction base="s:string">
          <s:enumeration value="DegisiklikYapilamaz" />
          <s:enumeration value="SadeceMiktar" />
          <s:enumeration value="DegisiklikYapilabilir" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MainScrapQtyType">
        <s:restriction base="s:string">
          <s:enumeration value="Yuzde" />
          <s:enumeration value="Sabit" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPrdBomDParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrdBomDParam" nillable="true" type="tns:PrdBomDParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdBomDParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OperationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QtyNet" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceMId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceDId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QtyType" type="tns:QtyType" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossNetType" type="tns:GrossNetType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="QtyType">
        <s:restriction base="s:string">
          <s:enumeration value="Miktar" />
          <s:enumeration value="Sabit" />
          <s:enumeration value="Oran" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="GrossNetType">
        <s:restriction base="s:string">
          <s:enumeration value="Brüt" />
          <s:enumeration value="Net" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPrdBomDAlternativeParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrdBomDAlternativeParam" nillable="true" type="tns:PrdBomDAlternativeParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdBomDAlternativeParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QtyNet" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceMId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceDId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QtyType" type="tns:QtyType" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossNetType" type="tns:GrossNetType" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePrdBomMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePrdBomMResult" type="tns:ServiceResultOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResultOfInt32">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteBomM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:UyumServiceRequestOfPrdBomMInDelete" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfPrdBomMInDelete">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PrdBomMInDelete" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdBomMInDelete">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BomMId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteBomMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBomMResult" type="tns:ServiceResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResultOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePrdWorderM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:UyumServiceRequestOfPrdWorderMInParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfPrdWorderMInParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PrdWorderMInParam" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdWorderMInParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WoTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorderNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="WoOpenDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceMId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceDId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BomMId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WorderOpDList" type="tns:ArrayOfWorderOpDParam" />
          <s:element minOccurs="1" maxOccurs="1" name="WorderControl" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorderOpDParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorderOpDParam" nillable="true" type="tns:WorderOpDParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorderOpDParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OperationNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OperationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WstationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WstationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WcenterId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WcenterCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNotActualcost" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOutsourceOpr" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Isphantom" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePrdWorderMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePrdWorderMResult" type="tns:ServiceResultOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePrdWorderM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:UyumServiceRequestOfPrdWorderMInDelete" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfPrdWorderMInDelete">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PrdWorderMInDelete" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdWorderMInDelete">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WorderMId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeletePrdWorderMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePrdWorderMResult" type="tns:ServiceResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePrdWorderAcOp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:UyumServiceRequestOfPrdWorderAcOpInParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfPrdWorderAcOpInParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PrdWorderAcOpInParam" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdWorderAcOpInParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WorderMId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OperationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AWstationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AWstationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceMId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceDId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WorderAcBomDMaterialList" type="tns:ArrayOfWorderAcBomDMaterialPrm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorderAcBomDMaterialPrm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorderAcBomDMaterialPrm" nillable="true" type="tns:WorderAcBomDMaterialPrm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorderAcBomDMaterialPrm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePrdWorderAcOpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePrdWorderAcOpResult" type="tns:ServiceResultOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePrdWorderAcOp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:UyumServiceRequestOfPrdWorderAcOpInDelete" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfPrdWorderAcOpInDelete">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:PrdWorderAcOpInDelete" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrdWorderAcOpInDelete">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WorderAcOpId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeletePrdWorderAcOpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePrdWorderAcOpResult" type="tns:ServiceResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Context" type="tns:UyumServiceRequestOfItemCardDef" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UyumServiceRequestOfItemCardDef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:UyumToken" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:ItemCardDef" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemCardDef">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BrandId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsoUnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories1Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories2Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories3Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories4Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories5Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories11Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories12Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories13Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories14Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categories15Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories1Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories2Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories3Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories4Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories5Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories11Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories12Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories13Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories14Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories15Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BranchId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemPriceGrpId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemPriceGrpCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddString01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddString02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddString03" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddDec01" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AddDec02" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AddDec03" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AddDate01" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AddDate02" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AddDate03" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WhouseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WhouseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OldItemCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManufacturerCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToleranceMaxSo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToleranceMinSo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToleranceMaxPo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToleranceMinPo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LeadTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BomUnitId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BomUnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsumptionUnitId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsumptionUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemClassId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemClassCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CccnId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultTaxId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IaccIntgTypeCodeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="itemTaxCardDef" type="tns:ArrayOfItemTaxCardDef" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemTaxCardDef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemTaxCardDef" nillable="true" type="tns:ItemTaxCardDef" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemTaxCardDef">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsoCountryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PurchaseSales" type="tns:PurchaseSales" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PurchaseSales">
        <s:restriction base="s:string">
          <s:enumeration value="Alış" />
          <s:enumeration value="Satış" />
          <s:enumeration value="Satış_İade" />
          <s:enumeration value="Alış_İade" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SaveItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveItemResult" type="tns:ServiceResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveItemNotCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Context" type="tns:UyumServiceRequestOfItemCardDef" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveItemNotCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveItemNotCompanyResult" type="tns:ServiceResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SavePrdBomMSoapIn">
    <wsdl:part name="parameters" element="tns:SavePrdBomM" />
  </wsdl:message>
  <wsdl:message name="SavePrdBomMSoapOut">
    <wsdl:part name="parameters" element="tns:SavePrdBomMResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBomMSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBomM" />
  </wsdl:message>
  <wsdl:message name="DeleteBomMSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBomMResponse" />
  </wsdl:message>
  <wsdl:message name="SavePrdWorderMSoapIn">
    <wsdl:part name="parameters" element="tns:SavePrdWorderM" />
  </wsdl:message>
  <wsdl:message name="SavePrdWorderMSoapOut">
    <wsdl:part name="parameters" element="tns:SavePrdWorderMResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePrdWorderMSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePrdWorderM" />
  </wsdl:message>
  <wsdl:message name="DeletePrdWorderMSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePrdWorderMResponse" />
  </wsdl:message>
  <wsdl:message name="SavePrdWorderAcOpSoapIn">
    <wsdl:part name="parameters" element="tns:SavePrdWorderAcOp" />
  </wsdl:message>
  <wsdl:message name="SavePrdWorderAcOpSoapOut">
    <wsdl:part name="parameters" element="tns:SavePrdWorderAcOpResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePrdWorderAcOpSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePrdWorderAcOp" />
  </wsdl:message>
  <wsdl:message name="DeletePrdWorderAcOpSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePrdWorderAcOpResponse" />
  </wsdl:message>
  <wsdl:message name="SaveItemSoapIn">
    <wsdl:part name="parameters" element="tns:SaveItem" />
  </wsdl:message>
  <wsdl:message name="SaveItemSoapOut">
    <wsdl:part name="parameters" element="tns:SaveItemResponse" />
  </wsdl:message>
  <wsdl:message name="SaveItemNotCompanySoapIn">
    <wsdl:part name="parameters" element="tns:SaveItemNotCompany" />
  </wsdl:message>
  <wsdl:message name="SaveItemNotCompanySoapOut">
    <wsdl:part name="parameters" element="tns:SaveItemNotCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ErogluProductionSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePrdBomM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ürün Ağacı Kaydı Oluşturulur.</wsdl:documentation>
      <wsdl:input message="tns:SavePrdBomMSoapIn" />
      <wsdl:output message="tns:SavePrdBomMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBomM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ürün Ağacı Kaydı Silinir.</wsdl:documentation>
      <wsdl:input message="tns:DeleteBomMSoapIn" />
      <wsdl:output message="tns:DeleteBomMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePrdWorderM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">İş Emri Kaydı Oluşturulur.</wsdl:documentation>
      <wsdl:input message="tns:SavePrdWorderMSoapIn" />
      <wsdl:output message="tns:SavePrdWorderMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrdWorderM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">İş Emri Kaydı Silinir.</wsdl:documentation>
      <wsdl:input message="tns:DeletePrdWorderMSoapIn" />
      <wsdl:output message="tns:DeletePrdWorderMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePrdWorderAcOp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Üretim Girişi Kaydı Oluşturulur.[Fason Olmayan Operasyon]</wsdl:documentation>
      <wsdl:input message="tns:SavePrdWorderAcOpSoapIn" />
      <wsdl:output message="tns:SavePrdWorderAcOpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrdWorderAcOp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Üretim Girişi Kaydı Silinir.[Fason Olmayan Operasyon]</wsdl:documentation>
      <wsdl:input message="tns:DeletePrdWorderAcOpSoapIn" />
      <wsdl:output message="tns:DeletePrdWorderAcOpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stok Kartı Kaydı Oluşturulur.</wsdl:documentation>
      <wsdl:input message="tns:SaveItemSoapIn" />
      <wsdl:output message="tns:SaveItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveItemNotCompany">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stok Kartı Kaydı Oluşturulur.Firma ve İşyeri Göndermeden Sistemde kayıtlı Firma ve İşyerine göre tanımlar yapılır.</wsdl:documentation>
      <wsdl:input message="tns:SaveItemNotCompanySoapIn" />
      <wsdl:output message="tns:SaveItemNotCompanySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ErogluProductionHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ErogluProductionHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ErogluProductionSoap" type="tns:ErogluProductionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePrdBomM">
      <soap:operation soapAction="http://tempuri.org/SavePrdBomM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBomM">
      <soap:operation soapAction="http://tempuri.org/DeleteBomM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePrdWorderM">
      <soap:operation soapAction="http://tempuri.org/SavePrdWorderM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrdWorderM">
      <soap:operation soapAction="http://tempuri.org/DeletePrdWorderM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePrdWorderAcOp">
      <soap:operation soapAction="http://tempuri.org/SavePrdWorderAcOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrdWorderAcOp">
      <soap:operation soapAction="http://tempuri.org/DeletePrdWorderAcOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveItem">
      <soap:operation soapAction="http://tempuri.org/SaveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveItemNotCompany">
      <soap:operation soapAction="http://tempuri.org/SaveItemNotCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ErogluProductionSoap12" type="tns:ErogluProductionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePrdBomM">
      <soap12:operation soapAction="http://tempuri.org/SavePrdBomM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBomM">
      <soap12:operation soapAction="http://tempuri.org/DeleteBomM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePrdWorderM">
      <soap12:operation soapAction="http://tempuri.org/SavePrdWorderM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrdWorderM">
      <soap12:operation soapAction="http://tempuri.org/DeletePrdWorderM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePrdWorderAcOp">
      <soap12:operation soapAction="http://tempuri.org/SavePrdWorderAcOp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrdWorderAcOp">
      <soap12:operation soapAction="http://tempuri.org/DeletePrdWorderAcOp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveItem">
      <soap12:operation soapAction="http://tempuri.org/SaveItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveItemNotCompany">
      <soap12:operation soapAction="http://tempuri.org/SaveItemNotCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ErogluProductionHttpGet" type="tns:ErogluProductionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ErogluProductionHttpPost" type="tns:ErogluProductionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErogluProduction">
    <wsdl:port name="ErogluProductionSoap" binding="tns:ErogluProductionSoap">
      <soap:address location="http://192.168.1.3/webservice/eroglu/ErogluProduction.asmx" />
    </wsdl:port>
    <wsdl:port name="ErogluProductionSoap12" binding="tns:ErogluProductionSoap12">
      <soap12:address location="http://192.168.1.3/webservice/eroglu/ErogluProduction.asmx" />
    </wsdl:port>
    <wsdl:port name="ErogluProductionHttpGet" binding="tns:ErogluProductionHttpGet">
      <http:address location="http://192.168.1.3/webservice/eroglu/ErogluProduction.asmx" />
    </wsdl:port>
    <wsdl:port name="ErogluProductionHttpPost" binding="tns:ErogluProductionHttpPost">
      <http:address location="http://192.168.1.3/webservice/eroglu/ErogluProduction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>