WinTexMNG/Web References/tr.com.araskargo.customerservicestest/ArasCargoIntegrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CustCargoInfo.Models" />
  <xs:element name="GetQueryDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryDSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryJSONResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDataXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCourier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCourierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustCargoInfo.Models" minOccurs="0" name="CallCourierResult" nillable="true" type="q1:CallCourierReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>