WinTexMNG/Web References/tr.com.araskargo.customerservicestest/ArasCargoIntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustCargoInfo.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustCargoInfo.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CallCourierReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:int" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallCourierReturn" nillable="true" type="tns:CallCourierReturn" />
</xs:schema>