WinTexMNG/Web References/tr.com.araskargo.customerservicestest/ArasCargoIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArasCargoIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IArasCargoIntegrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CustCargoInfo.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArasCargoIntegrationService_GetQueryDS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryDS" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_GetQueryDS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryDSResponse" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_GetQueryXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryXML" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_GetQueryXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_GetQueryJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryJSON" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_GetQueryJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_SetDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDataXML" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_SetDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_CallCourier_InputMessage">
    <wsdl:part name="parameters" element="tns:CallCourier" />
  </wsdl:message>
  <wsdl:message name="IArasCargoIntegrationService_CallCourier_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallCourierResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IArasCargoIntegrationService">
    <wsdl:operation name="GetQueryDS">
      <wsdl:input wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/GetQueryDS" message="tns:IArasCargoIntegrationService_GetQueryDS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/GetQueryDSResponse" message="tns:IArasCargoIntegrationService_GetQueryDS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/GetQueryXML" message="tns:IArasCargoIntegrationService_GetQueryXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/GetQueryXMLResponse" message="tns:IArasCargoIntegrationService_GetQueryXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/GetQueryJSON" message="tns:IArasCargoIntegrationService_GetQueryJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/GetQueryJSONResponse" message="tns:IArasCargoIntegrationService_GetQueryJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/SetDataXML" message="tns:IArasCargoIntegrationService_SetDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/SetDataXMLResponse" message="tns:IArasCargoIntegrationService_SetDataXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallCourier">
      <wsdl:input wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/CallCourier" message="tns:IArasCargoIntegrationService_CallCourier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArasCargoIntegrationService/CallCourierResponse" message="tns:IArasCargoIntegrationService_CallCourier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IArasCargoIntegrationService" type="tns:IArasCargoIntegrationService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IArasCargoIntegrationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQueryDS">
      <soap:operation soapAction="http://tempuri.org/IArasCargoIntegrationService/GetQueryDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryXML">
      <soap:operation soapAction="http://tempuri.org/IArasCargoIntegrationService/GetQueryXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryJSON">
      <soap:operation soapAction="http://tempuri.org/IArasCargoIntegrationService/GetQueryJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataXML">
      <soap:operation soapAction="http://tempuri.org/IArasCargoIntegrationService/SetDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallCourier">
      <soap:operation soapAction="http://tempuri.org/IArasCargoIntegrationService/CallCourier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArasCargoIntegrationService">
    <wsdl:port name="BasicHttpsBinding_IArasCargoIntegrationService" binding="tns:BasicHttpsBinding_IArasCargoIntegrationService">
      <soap:address location="https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>