WinTexTicimax/Connected Services/CustomServis/CustomServis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://benimpabucum.com/servis/CustomServis.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://benimpabucum.com/servis/CustomServis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Entegrasyon">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlanDeger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntegrasyonKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TabloAlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entegrasyon" nillable="true" type="tns:Entegrasyon" />
  <xs:complexType name="ArrayOfMailList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailList" nillable="true" type="tns:MailList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailList" nillable="true" type="tns:ArrayOfMailList" />
  <xs:complexType name="MailList">
    <xs:sequence>
      <xs:element minOccurs="0" name="EklemeTarihi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailIzin" type="xs:boolean" />
      <xs:element minOccurs="0" name="SmsIzın" type="xs:boolean" />
      <xs:element minOccurs="0" name="Soyisim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailList" nillable="true" type="tns:MailList" />
  <xs:complexType name="ArrayOfEntegrasyon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entegrasyon" nillable="true" type="tns:Entegrasyon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntegrasyon" nillable="true" type="tns:ArrayOfEntegrasyon" />
  <xs:complexType name="KargoDesiFiyatSelectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FiltreKargoID" type="xs:int" />
      <xs:element minOccurs="0" name="FiltreSehirID" type="xs:int" />
      <xs:element minOccurs="0" name="FiltreUlkeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoDesiFiyatSelectRequest" nillable="true" type="tns:KargoDesiFiyatSelectRequest" />
  <xs:complexType name="KargoDesiFiyatSelectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="KargoDesiFiyatListesi" nillable="true" type="tns:ArrayOfKargoDesiFiyat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoDesiFiyatSelectResponse" nillable="true" type="tns:KargoDesiFiyatSelectResponse" />
  <xs:complexType name="ArrayOfKargoDesiFiyat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KargoDesiFiyat" nillable="true" type="tns:KargoDesiFiyat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKargoDesiFiyat" nillable="true" type="tns:ArrayOfKargoDesiFiyat" />
  <xs:complexType name="KargoDesiFiyat">
    <xs:sequence>
      <xs:element minOccurs="0" name="DesiBas" type="xs:double" />
      <xs:element minOccurs="0" name="DesiSon" type="xs:double" />
      <xs:element minOccurs="0" name="Fiyat" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KargoID" type="xs:int" />
      <xs:element minOccurs="0" name="SehirAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SehirID" type="xs:int" />
      <xs:element minOccurs="0" name="SehirIci" type="xs:boolean" />
      <xs:element minOccurs="0" name="UlkeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UlkeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoDesiFiyat" nillable="true" type="tns:KargoDesiFiyat" />
  <xs:complexType name="KargoDesiFiyatGuncelleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="KargoDesiFiyatBilgisi" nillable="true" type="tns:KargoDesiFiyatBilgisi" />
      <xs:element minOccurs="0" name="KargoKapsami" type="xs:int" />
      <xs:element minOccurs="0" name="SadeceSehirIcineGonderim" type="xs:boolean" />
      <xs:element minOccurs="0" name="UlkeBelirle" type="xs:boolean" />
      <xs:element minOccurs="0" name="UlkeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoDesiFiyatGuncelleRequest" nillable="true" type="tns:KargoDesiFiyatGuncelleRequest" />
  <xs:complexType name="KargoDesiFiyatBilgisi">
    <xs:sequence>
      <xs:element minOccurs="0" name="DesiBas" type="xs:double" />
      <xs:element minOccurs="0" name="DesiSon" type="xs:double" />
      <xs:element minOccurs="0" name="Fiyat" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KargoID" type="xs:int" />
      <xs:element minOccurs="0" name="SehirID" type="xs:int" />
      <xs:element minOccurs="0" name="SehirIci" type="xs:boolean" />
      <xs:element minOccurs="0" name="UlkeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoDesiFiyatBilgisi" nillable="true" type="tns:KargoDesiFiyatBilgisi" />
  <xs:complexType name="SelectUlkeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FiltreUlkeID" type="xs:int" />
      <xs:element minOccurs="0" name="FiltreUlkeKodu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectUlkeRequest" nillable="true" type="tns:SelectUlkeRequest" />
  <xs:complexType name="ArrayOfKargoUlke">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KargoUlke" nillable="true" type="tns:KargoUlke" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKargoUlke" nillable="true" type="tns:ArrayOfKargoUlke" />
  <xs:complexType name="KargoUlke">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoUlke" nillable="true" type="tns:KargoUlke" />
  <xs:complexType name="SelectIlRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FiltreIlID" type="xs:int" />
      <xs:element minOccurs="0" name="FiltreUlkeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectIlRequest" nillable="true" type="tns:SelectIlRequest" />
  <xs:complexType name="ArrayOfKargoIl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KargoIl" nillable="true" type="tns:KargoIl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKargoIl" nillable="true" type="tns:ArrayOfKargoIl" />
  <xs:complexType name="KargoIl">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UlkeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoIl" nillable="true" type="tns:KargoIl" />
  <xs:complexType name="SelectIlceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FiltreIlID" type="xs:int" />
      <xs:element minOccurs="0" name="FiltreIlceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectIlceRequest" nillable="true" type="tns:SelectIlceRequest" />
  <xs:complexType name="ArrayOfKargoIlce">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KargoIlce" nillable="true" type="tns:KargoIlce" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKargoIlce" nillable="true" type="tns:ArrayOfKargoIlce" />
  <xs:complexType name="KargoIlce">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ILID" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoIlce" nillable="true" type="tns:KargoIlce" />
  <xs:complexType name="ArrayOfKargoFirma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KargoFirma" nillable="true" type="tns:KargoFirma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKargoFirma" nillable="true" type="tns:ArrayOfKargoFirma" />
  <xs:complexType name="KargoFirma">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KargoFirma" nillable="true" type="tns:KargoFirma" />
  <xs:complexType name="WebIadeTalepSelectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filtre" nillable="true" type="tns:IadeTalepFiltre" />
      <xs:element minOccurs="0" name="Sayfalama" nillable="true" type="tns:WebServisSayfalama" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIadeTalepSelectRequest" nillable="true" type="tns:WebIadeTalepSelectRequest" />
  <xs:complexType name="IadeTalepFiltre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="EklemeTarihi1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EklemeTarihi2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ParaIadeTipi" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IadeTalepFiltre" nillable="true" type="tns:IadeTalepFiltre" />
  <xs:complexType name="WebServisSayfalama">
    <xs:sequence>
      <xs:element minOccurs="0" name="KayitSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="SayfaNo" type="xs:int" />
      <xs:element minOccurs="0" name="SiralamaDegeri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiralamaYonu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServisSayfalama" nillable="true" type="tns:WebServisSayfalama" />
  <xs:complexType name="WebIadeTalepResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IadeTalepList" nillable="true" type="tns:ArrayOfIadeTalep" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIadeTalepResponse" nillable="true" type="tns:WebIadeTalepResponse" />
  <xs:complexType name="ArrayOfIadeTalep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IadeTalep" nillable="true" type="tns:IadeTalep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIadeTalep" nillable="true" type="tns:ArrayOfIadeTalep" />
  <xs:complexType name="IadeTalep">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cevap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CevapTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cevaplayan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CevaplayanID" type="xs:int" />
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IbanIsimSoyisim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KargoKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notlar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OdemeTipi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OdemeTipiID" type="xs:int" />
      <xs:element minOccurs="0" name="ParaBirimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tutar" type="xs:double" />
      <xs:element minOccurs="0" name="TutarStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IadeTalep" nillable="true" type="tns:IadeTalep" />
  <xs:complexType name="WebIadeTalepUrunSelectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IadeTalepID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIadeTalepUrunSelectRequest" nillable="true" type="tns:WebIadeTalepUrunSelectRequest" />
  <xs:complexType name="WebIadeTalepUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BekleyenUrunAdedi" type="xs:double" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IadeTalepUrunList" nillable="true" type="tns:ArrayOfIadeTalepUrun" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnaylananUrunAdedi" type="xs:double" />
      <xs:element minOccurs="0" name="ReddedilenUrunAdedi" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIadeTalepUrunResponse" nillable="true" type="tns:WebIadeTalepUrunResponse" />
  <xs:complexType name="ArrayOfIadeTalepUrun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IadeTalepUrun" nillable="true" type="tns:IadeTalepUrun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIadeTalepUrun" nillable="true" type="tns:ArrayOfIadeTalepUrun" />
  <xs:complexType name="IadeTalepUrun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="Barkod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cevap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CevapTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Durum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="Eksecenekler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IadeTalepID" type="xs:int" />
      <xs:element minOccurs="0" name="IptalIadeNedenID" type="xs:int" />
      <xs:element minOccurs="0" name="IptalIadeNedenTanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IptalIadeTipID" type="xs:int" />
      <xs:element minOccurs="0" name="IptalIadeTipTanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="StokKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IadeTalepUrun" nillable="true" type="tns:IadeTalepUrun" />
  <xs:complexType name="WebIadeTalepGuncelleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IadeKoduOlustur" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailGonder" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiparisDurumu" type="tns:WebSiparisDurumlari" />
      <xs:element minOccurs="0" name="SiparisDurumuGuncelle" type="xs:boolean" />
      <xs:element minOccurs="0" name="Talep" nillable="true" type="tns:IadeTalepUpdate" />
      <xs:element minOccurs="0" name="UrunleriGuncelle" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIadeTalepGuncelleRequest" nillable="true" type="tns:WebIadeTalepGuncelleRequest" />
  <xs:simpleType name="WebSiparisDurumlari">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OnSiparis" />
      <xs:enumeration value="OnayBekliyor" />
      <xs:enumeration value="Onaylandi" />
      <xs:enumeration value="OdemeBekliyor" />
      <xs:enumeration value="Paketleniyor" />
      <xs:enumeration value="TedarikEdiliyor" />
      <xs:enumeration value="KargoyaVerildi" />
      <xs:enumeration value="TeslimEdildi" />
      <xs:enumeration value="Iptal" />
      <xs:enumeration value="Iade" />
      <xs:enumeration value="Silinmis" />
      <xs:enumeration value="IadeTalepAlindi" />
      <xs:enumeration value="IadeUlastiOdemeYapilacak" />
      <xs:enumeration value="IadeOdemeYapildi" />
      <xs:enumeration value="TeslimOncesiIptal" />
      <xs:enumeration value="IptalTalebi" />
      <xs:enumeration value="KismiIadeTalebi" />
      <xs:enumeration value="KismiIadeYapildi" />
      <xs:enumeration value="TeslimEdilemedi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebSiparisDurumlari" nillable="true" type="tns:WebSiparisDurumlari" />
  <xs:complexType name="IadeTalepUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IadeTalepUrunler" nillable="true" type="tns:ArrayOfIadeTalepUrunGuncelle" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IbanIsimSoyisim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KargoEntegrasyonID" type="xs:int" />
      <xs:element minOccurs="0" name="Notlar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="TumUrunCevap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TumUrunCevaplayanID" type="xs:int" />
      <xs:element minOccurs="0" name="TumUrunDurumID" type="xs:int" />
      <xs:element minOccurs="0" name="TumUrunIadeIptalIadeNedenID" type="xs:int" />
      <xs:element minOccurs="0" name="TumUrunIadeIptalIadeTipID" type="xs:int" />
      <xs:element minOccurs="0" name="Tutar" type="xs:double" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IadeTalepUpdate" nillable="true" type="tns:IadeTalepUpdate" />
  <xs:complexType name="ArrayOfIadeTalepUrunGuncelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IadeTalepUrunGuncelle" nillable="true" type="tns:IadeTalepUrunGuncelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIadeTalepUrunGuncelle" nillable="true" type="tns:ArrayOfIadeTalepUrunGuncelle" />
  <xs:complexType name="IadeTalepUrunGuncelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="Cevap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="IadeTalepID" type="xs:int" />
      <xs:element minOccurs="0" name="IptalIadeNedenID" type="xs:int" />
      <xs:element minOccurs="0" name="IptalIadeTipID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IadeTalepUrunGuncelle" nillable="true" type="tns:IadeTalepUrunGuncelle" />
  <xs:complexType name="WebIadeTalepUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IadeKargoKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IadeTalep" nillable="true" type="tns:IadeTalep" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIadeTalepUpdateResponse" nillable="true" type="tns:WebIadeTalepUpdateResponse" />
  <xs:complexType name="WebDegisimTalepSelectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filtre" nillable="true" type="tns:DegisimTalepFiltre" />
      <xs:element minOccurs="0" name="Sayfalama" nillable="true" type="tns:WebServisSayfalama" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDegisimTalepSelectRequest" nillable="true" type="tns:WebDegisimTalepSelectRequest" />
  <xs:complexType name="DegisimTalepFiltre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="EklemeTarihi1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EklemeTarihi2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ParaIadeTipi" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DegisimTalepFiltre" nillable="true" type="tns:DegisimTalepFiltre" />
  <xs:complexType name="WebDegisimTalepResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegisimTalepList" nillable="true" type="tns:ArrayOfDegisimTalep" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDegisimTalepResponse" nillable="true" type="tns:WebDegisimTalepResponse" />
  <xs:complexType name="ArrayOfDegisimTalep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DegisimTalep" nillable="true" type="tns:DegisimTalep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDegisimTalep" nillable="true" type="tns:ArrayOfDegisimTalep" />
  <xs:complexType name="DegisimTalep">
    <xs:sequence>
      <xs:element minOccurs="0" name="Durum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OdemeTipi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OdemeTipiID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DegisimTalep" nillable="true" type="tns:DegisimTalep" />
  <xs:complexType name="WebDegisimTalepUrunSelectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegisimTalepID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDegisimTalepUrunSelectRequest" nillable="true" type="tns:WebDegisimTalepUrunSelectRequest" />
  <xs:complexType name="WebDegisimTalepUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegisimTalepUrunList" nillable="true" type="tns:ArrayOfDegisimTalepUrun" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDegisimTalepUrunResponse" nillable="true" type="tns:WebDegisimTalepUrunResponse" />
  <xs:complexType name="ArrayOfDegisimTalepUrun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DegisimTalepUrun" nillable="true" type="tns:DegisimTalepUrun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDegisimTalepUrun" nillable="true" type="tns:ArrayOfDegisimTalepUrun" />
  <xs:complexType name="DegisimTalepUrun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="Barkod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DegisimTalepID" type="xs:int" />
      <xs:element minOccurs="0" name="Durum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="Eksecenekler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Resim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="StokKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalepStokKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalepUrunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalepUrunEksecenekler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalepUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="TalepUrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="TalepUrunResim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalepUrunUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DegisimTalepUrun" nillable="true" type="tns:DegisimTalepUrun" />
  <xs:complexType name="WebDegisimTalepGuncelleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MailGonder" type="xs:boolean" />
      <xs:element minOccurs="0" name="Talep" nillable="true" type="tns:DegisimTalepUpdate" />
      <xs:element minOccurs="0" name="UrunleriGuncelle" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDegisimTalepGuncelleRequest" nillable="true" type="tns:WebDegisimTalepGuncelleRequest" />
  <xs:complexType name="DegisimTalepUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegisimTalepUrunler" nillable="true" type="tns:ArrayOfDegisimTalepUrunGuncelle" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DegisimTalepUpdate" nillable="true" type="tns:DegisimTalepUpdate" />
  <xs:complexType name="ArrayOfDegisimTalepUrunGuncelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DegisimTalepUrunGuncelle" nillable="true" type="tns:DegisimTalepUrunGuncelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDegisimTalepUrunGuncelle" nillable="true" type="tns:ArrayOfDegisimTalepUrunGuncelle" />
  <xs:complexType name="DegisimTalepUrunGuncelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="DegisimTalepID" type="xs:int" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DegisimTalepUrunGuncelle" nillable="true" type="tns:DegisimTalepUrunGuncelle" />
  <xs:complexType name="WebDegisimTalepUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegisimTalep" nillable="true" type="tns:DegisimTalep" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDegisimTalepUpdateResponse" nillable="true" type="tns:WebDegisimTalepUpdateResponse" />
  <xs:complexType name="WebTaksitSecenekRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaksTaksitSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="Tutar" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTaksitSecenekRequest" nillable="true" type="tns:WebTaksitSecenekRequest" />
  <xs:complexType name="WebTaksitSecenekResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="TaksitSecenekleri" nillable="true" type="tns:ArrayOfWebTaksitBanka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTaksitSecenekResponse" nillable="true" type="tns:WebTaksitSecenekResponse" />
  <xs:complexType name="ArrayOfWebTaksitBanka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebTaksitBanka" nillable="true" type="tns:WebTaksitBanka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebTaksitBanka" nillable="true" type="tns:ArrayOfWebTaksitBanka" />
  <xs:complexType name="WebTaksitBanka">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankaAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankaId" type="xs:int" />
      <xs:element minOccurs="0" name="Taksitler" nillable="true" type="tns:ArrayOfWebTaksitSecenek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTaksitBanka" nillable="true" type="tns:WebTaksitBanka" />
  <xs:complexType name="ArrayOfWebTaksitSecenek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebTaksitSecenek" nillable="true" type="tns:WebTaksitSecenek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebTaksitSecenek" nillable="true" type="tns:ArrayOfWebTaksitSecenek" />
  <xs:complexType name="WebTaksitSecenek">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaksitSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="TaksitTanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaksitTutari" type="xs:double" />
      <xs:element minOccurs="0" name="ToplamTutar" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTaksitSecenek" nillable="true" type="tns:WebTaksitSecenek" />
  <xs:complexType name="ArrayOfWebKampanya">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanya" nillable="true" type="tns:WebKampanya" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanya" nillable="true" type="tns:ArrayOfWebKampanya" />
  <xs:complexType name="WebKampanya">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet1" type="xs:int" />
      <xs:element minOccurs="0" name="Adet2" type="xs:int" />
      <xs:element minOccurs="0" name="Aktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="BankaID" type="xs:int" />
      <xs:element minOccurs="0" name="BaslangicTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BitisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExtJsonData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HedefEtiketID" type="xs:int" />
      <xs:element minOccurs="0" name="HedefKategoriID" type="xs:int" />
      <xs:element minOccurs="0" name="HedefUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="HediyeCekiKategoriID" type="xs:int" />
      <xs:element minOccurs="0" name="HediyeCekiKullanimBaslangicTarihi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HediyeCekiKullanimBitisTarihi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IndirimliUrunIslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemTipi" type="xs:int" />
      <xs:element minOccurs="0" name="KampanyaTuru" type="xs:int" />
      <xs:element minOccurs="0" name="OdemeTipi" type="xs:int" />
      <xs:element minOccurs="0" name="Sablon" type="xs:boolean" />
      <xs:element minOccurs="0" name="SepetTutari" type="xs:double" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TekrarTutari" type="xs:double" />
      <xs:element minOccurs="0" name="UrunID1" type="xs:int" />
      <xs:element minOccurs="0" name="UrunID2" type="xs:int" />
      <xs:element minOccurs="0" name="UyeMaksKullanimSayisi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanya" nillable="true" type="tns:WebKampanya" />
  <xs:complexType name="GetFavoriUrunlerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaslangicTarihi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BitisTarihi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KayitSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="SayfaNo" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFavoriUrunlerRequest" nillable="true" type="tns:GetFavoriUrunlerRequest" />
  <xs:complexType name="GetFavoriUrunlerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Urunler" nillable="true" type="tns:ArrayOfWebFavoriUrunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFavoriUrunlerResponse" nillable="true" type="tns:GetFavoriUrunlerResponse" />
  <xs:complexType name="ArrayOfWebFavoriUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebFavoriUrunler" nillable="true" type="tns:WebFavoriUrunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebFavoriUrunler" nillable="true" type="tns:ArrayOfWebFavoriUrunler" />
  <xs:complexType name="WebFavoriUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FavoriUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="ParaBirimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResimUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StokKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToplamStokAdedi" type="xs:double" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunFiyati" type="xs:double" />
      <xs:element minOccurs="0" name="UrunFiyatiKdv" type="xs:double" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunSayisi" type="xs:double" />
      <xs:element minOccurs="0" name="UrunUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
      <xs:element minOccurs="0" name="VaryasyonSayisi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebFavoriUrunler" nillable="true" type="tns:WebFavoriUrunler" />
  <xs:complexType name="AddFavoriUrunRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFavoriUrunRequest" nillable="true" type="tns:AddFavoriUrunRequest" />
  <xs:complexType name="AddFavoriUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFavoriUrunResponse" nillable="true" type="tns:AddFavoriUrunResponse" />
  <xs:complexType name="RemoveFavoriUrunRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FavoriUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveFavoriUrunRequest" nillable="true" type="tns:RemoveFavoriUrunRequest" />
  <xs:complexType name="RemoveFavoriUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveFavoriUrunResponse" nillable="true" type="tns:RemoveFavoriUrunResponse" />
  <xs:complexType name="GetFiyatAlarmUrunlerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UrunKartiId" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFiyatAlarmUrunlerRequest" nillable="true" type="tns:GetFiyatAlarmUrunlerRequest" />
  <xs:complexType name="GetFiyatAlarmUrunlerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Urunler" nillable="true" type="tns:ArrayOfWebFiyatAlarmUrunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFiyatAlarmUrunlerResponse" nillable="true" type="tns:GetFiyatAlarmUrunlerResponse" />
  <xs:complexType name="ArrayOfWebFiyatAlarmUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebFiyatAlarmUrunler" nillable="true" type="tns:WebFiyatAlarmUrunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebFiyatAlarmUrunler" nillable="true" type="tns:ArrayOfWebFiyatAlarmUrunler" />
  <xs:complexType name="WebFiyatAlarmUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EklenenFiyat" type="xs:double" />
      <xs:element minOccurs="0" name="FiyatAlarmUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="ParaBirimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResimUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StokKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToplamStokAdedi" type="xs:double" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunFiyati" type="xs:double" />
      <xs:element minOccurs="0" name="UrunFiyatiKdv" type="xs:double" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
      <xs:element minOccurs="0" name="VaryasyonSayisi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebFiyatAlarmUrunler" nillable="true" type="tns:WebFiyatAlarmUrunler" />
  <xs:complexType name="AddFiyatAlarmUrunRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fiyat" type="xs:double" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFiyatAlarmUrunRequest" nillable="true" type="tns:AddFiyatAlarmUrunRequest" />
  <xs:complexType name="AddFiyatAlarmUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFiyatAlarmUrunResponse" nillable="true" type="tns:AddFiyatAlarmUrunResponse" />
  <xs:complexType name="RemoveFiyatAlarmUrunRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FiyatAlarmUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveFiyatAlarmUrunRequest" nillable="true" type="tns:RemoveFiyatAlarmUrunRequest" />
  <xs:complexType name="RemoveFiyatAlarmUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveFiyatAlarmUrunResponse" nillable="true" type="tns:RemoveFiyatAlarmUrunResponse" />
  <xs:complexType name="GetStokAlarmUrunlerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UrunKartiId" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStokAlarmUrunlerRequest" nillable="true" type="tns:GetStokAlarmUrunlerRequest" />
  <xs:complexType name="GetStokAlarmUrunlerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Urunler" nillable="true" type="tns:ArrayOfWebStokAlarmUrunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStokAlarmUrunlerResponse" nillable="true" type="tns:GetStokAlarmUrunlerResponse" />
  <xs:complexType name="ArrayOfWebStokAlarmUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebStokAlarmUrunler" nillable="true" type="tns:WebStokAlarmUrunler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebStokAlarmUrunler" nillable="true" type="tns:ArrayOfWebStokAlarmUrunler" />
  <xs:complexType name="WebStokAlarmUrunler">
    <xs:sequence>
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParaBirimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResimUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StokAlarmUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="StokKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToplamStokAdedi" type="xs:double" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunFiyati" type="xs:double" />
      <xs:element minOccurs="0" name="UrunFiyatiKdv" type="xs:double" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
      <xs:element minOccurs="0" name="VaryasyonSayisi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebStokAlarmUrunler" nillable="true" type="tns:WebStokAlarmUrunler" />
  <xs:complexType name="AddStokAlarmUrunRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fiyat" type="xs:double" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UrunKartiID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddStokAlarmUrunRequest" nillable="true" type="tns:AddStokAlarmUrunRequest" />
  <xs:complexType name="AddStokAlarmUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddStokAlarmUrunResponse" nillable="true" type="tns:AddStokAlarmUrunResponse" />
  <xs:complexType name="RemoveStokAlarmUrunRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="StokAlarmUrunID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveStokAlarmUrunRequest" nillable="true" type="tns:RemoveStokAlarmUrunRequest" />
  <xs:complexType name="RemoveStokAlarmUrunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveStokAlarmUrunResponse" nillable="true" type="tns:RemoveStokAlarmUrunResponse" />
  <xs:complexType name="GetMenuRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aktif" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Dil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMenuRequest" nillable="true" type="tns:GetMenuRequest" />
  <xs:complexType name="GetMenuResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Menuler" nillable="true" type="tns:ArrayOfWebMenu" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMenuResponse" nillable="true" type="tns:GetMenuResponse" />
  <xs:complexType name="WebServisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServisResponse" nillable="true" type="tns:WebServisResponse" />
  <xs:complexType name="ArrayOfWebMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebMenu" nillable="true" type="tns:WebMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebMenu" nillable="true" type="tns:ArrayOfWebMenu" />
  <xs:complexType name="WebMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="Baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BitisTarihi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Icerik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="Resim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResimTargetUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResimYolu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sira" type="xs:int" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebMenu" nillable="true" type="tns:WebMenu" />
  <xs:complexType name="SaveMenuRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Menuler" nillable="true" type="tns:ArrayOfWebMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveMenuRequest" nillable="true" type="tns:SaveMenuRequest" />
  <xs:complexType name="SaveMenuResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveMenuResponse" nillable="true" type="tns:SaveMenuResponse" />
  <xs:complexType name="DeleteMenuRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Menuler" nillable="true" type="tns:ArrayOfWebMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteMenuRequest" nillable="true" type="tns:DeleteMenuRequest" />
  <xs:complexType name="DeleteMenuResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteMenuResponse" nillable="true" type="tns:DeleteMenuResponse" />
  <xs:complexType name="ServisSaveSupportTicketRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cevaplayan" type="xs:int" />
      <xs:element minOccurs="0" name="KonuId" type="xs:int" />
      <xs:element minOccurs="0" name="Mesaj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisSaveSupportTicketRequest" nillable="true" type="tns:ServisSaveSupportTicketRequest" />
  <xs:complexType name="ServisSaveSupportTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisSaveSupportTicketResponse" nillable="true" type="tns:ServisSaveSupportTicketResponse" />
  <xs:complexType name="ServisGetSupportTicketSubjectsRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServisGetSupportTicketSubjectsRequest" nillable="true" type="tns:ServisGetSupportTicketSubjectsRequest" />
  <xs:complexType name="ServisGetSupportTicketSubjectsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Subjects" nillable="true" type="tns:ArrayOfServisSupportTicketSubject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisGetSupportTicketSubjectsResponse" nillable="true" type="tns:ServisGetSupportTicketSubjectsResponse" />
  <xs:complexType name="ArrayOfServisSupportTicketSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServisSupportTicketSubject" nillable="true" type="tns:ServisSupportTicketSubject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServisSupportTicketSubject" nillable="true" type="tns:ArrayOfServisSupportTicketSubject" />
  <xs:complexType name="ServisSupportTicketSubject">
    <xs:sequence>
      <xs:element minOccurs="0" name="KonuId" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisSupportTicketSubject" nillable="true" type="tns:ServisSupportTicketSubject" />
  <xs:complexType name="ServisSaveSupportTicketAnswerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestekId" type="xs:int" />
      <xs:element minOccurs="0" name="Mesaj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisSaveSupportTicketAnswerRequest" nillable="true" type="tns:ServisSaveSupportTicketAnswerRequest" />
  <xs:complexType name="ServisSaveSupportTicketAnswerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisSaveSupportTicketAnswerResponse" nillable="true" type="tns:ServisSaveSupportTicketAnswerResponse" />
  <xs:complexType name="ServisGetSupportTicketsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestekId" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisGetSupportTicketsRequest" nillable="true" type="tns:ServisGetSupportTicketsRequest" />
  <xs:complexType name="ServisGetSupportTicketsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestekTalepleri" nillable="true" type="tns:ArrayOfServisMusteriTalep" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisGetSupportTicketsResponse" nillable="true" type="tns:ServisGetSupportTicketsResponse" />
  <xs:complexType name="ArrayOfServisMusteriTalep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServisMusteriTalep" nillable="true" type="tns:ServisMusteriTalep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServisMusteriTalep" nillable="true" type="tns:ArrayOfServisMusteriTalep" />
  <xs:complexType name="ServisMusteriTalep">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cozuldu" type="xs:boolean" />
      <xs:element minOccurs="0" name="Durum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurumID" type="xs:int" />
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KapatilmaTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Konu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KonuID" type="xs:int" />
      <xs:element minOccurs="0" name="Mesaj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SorumluAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SorumluID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisMusteriTalep" nillable="true" type="tns:ServisMusteriTalep" />
  <xs:complexType name="ServisGetSupportTicketMessagesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestekId" type="xs:int" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisGetSupportTicketMessagesRequest" nillable="true" type="tns:ServisGetSupportTicketMessagesRequest" />
  <xs:complexType name="ServisGetSupportTicketMessagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestekMesajlari" nillable="true" type="tns:ArrayOfServisMusteriCevap" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisGetSupportTicketMessagesResponse" nillable="true" type="tns:ServisGetSupportTicketMessagesResponse" />
  <xs:complexType name="ArrayOfServisMusteriCevap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServisMusteriCevap" nillable="true" type="tns:ServisMusteriCevap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServisMusteriCevap" nillable="true" type="tns:ArrayOfServisMusteriCevap" />
  <xs:complexType name="ServisMusteriCevap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cevap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cevaplayan" type="xs:int" />
      <xs:element minOccurs="0" name="CevaplayanStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KonusmaTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TalepID" type="xs:int" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServisMusteriCevap" nillable="true" type="tns:ServisMusteriCevap" />
  <xs:complexType name="GetCampaingBannersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaingBannerId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCampaingBannersRequest" nillable="true" type="tns:GetCampaingBannersRequest" />
  <xs:complexType name="GetCampaingBannersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaingBanners" nillable="true" type="tns:ArrayOfCampaingBannerList" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCampaingBannersResponse" nillable="true" type="tns:GetCampaingBannersResponse" />
  <xs:complexType name="ArrayOfCampaingBannerList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampaingBannerList" nillable="true" type="tns:CampaingBannerList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaingBannerList" nillable="true" type="tns:ArrayOfCampaingBannerList" />
  <xs:complexType name="CampaingBannerList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BannetTypeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="CampaingBannerId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountDownActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountDownDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Definitions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="StrCountDownDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaingBannerList" nillable="true" type="tns:CampaingBannerList" />
  <xs:complexType name="ArrayOfWebKampanyaTicimax">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaTicimax" nillable="true" type="tns:WebKampanyaTicimax" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaTicimax" nillable="true" type="tns:ArrayOfWebKampanyaTicimax" />
  <xs:complexType name="WebKampanyaTicimax">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AndroidAktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="BaslangicTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BitisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DuzenlemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DuzenleyenKullanici" type="xs:int" />
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EkleyenKullanici" type="xs:int" />
      <xs:element minOccurs="0" name="GunKosulu" type="xs:int" />
      <xs:element minOccurs="0" name="Gunler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="Hediyeler" nillable="true" type="tns:WebKampanyaHediye" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IOSAktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="IslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemTipi" type="xs:int" />
      <xs:element minOccurs="0" name="Kosullar" nillable="true" type="tns:WebKampanyaKosul" />
      <xs:element minOccurs="0" name="MaksSiparisSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="MinAlisverisTutari" type="xs:double" />
      <xs:element minOccurs="0" name="MinUrunAdedi" type="xs:int" />
      <xs:element minOccurs="0" name="MobilAktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="Oncelik" type="xs:int" />
      <xs:element minOccurs="0" name="Parabirimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaatAraliklari" nillable="true" type="tns:ArrayOfWebKampanyaSaatAraligi" />
      <xs:element minOccurs="0" name="Sablon" type="xs:boolean" />
      <xs:element minOccurs="0" name="SepetteAciklamaGoster" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TekrarDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="Tip" type="xs:int" />
      <xs:element minOccurs="0" name="Ulke" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UyeMaksKullanimSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="Uyeler" nillable="true" type="tns:ArrayOfWebKampanyaUye" />
      <xs:element minOccurs="0" name="UygulamaYontemleri" nillable="true" type="tns:WebKampanyaUygulamaYontemi" />
      <xs:element minOccurs="0" name="WebAktif" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaTicimax" nillable="true" type="tns:WebKampanyaTicimax" />
  <xs:complexType name="ArrayOfWebKampanyaIDTanim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaIDTanim" nillable="true" type="tns:WebKampanyaIDTanim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaIDTanim" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
  <xs:complexType name="WebKampanyaIDTanim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaIDTanim" nillable="true" type="tns:WebKampanyaIDTanim" />
  <xs:complexType name="WebKampanyaHediye">
    <xs:sequence>
      <xs:element minOccurs="0" name="HediyeCeki" nillable="true" type="tns:WebKampanyaHediyeCeki" />
      <xs:element minOccurs="0" name="Urun" nillable="true" type="tns:WebKampanyaHediyeUrunBilgisi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaHediye" nillable="true" type="tns:WebKampanyaHediye" />
  <xs:complexType name="WebKampanyaHediyeCeki">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaskaKampanyalarlaBilestirilebilir" type="xs:boolean" />
      <xs:element minOccurs="0" name="BaslamaSuresi" type="xs:int" />
      <xs:element minOccurs="0" name="BaslangicTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirlestirilebilirKampanyalar" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="BitisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GecerliOlduguSure" type="xs:int" />
      <xs:element minOccurs="0" name="IndirimliUrunleKullanilabilir" type="xs:boolean" />
      <xs:element minOccurs="0" name="IslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemTipi" type="xs:int" />
      <xs:element minOccurs="0" name="KargoIndirimi" type="xs:boolean" />
      <xs:element minOccurs="0" name="KargoUcretsiz" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kategoriler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="KullanimSayisi" type="xs:int" />
      <xs:element minOccurs="0" name="Markalar" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="MinimumSepetTutari" type="xs:double" />
      <xs:element minOccurs="0" name="SiparisTarihineGoreOlustur" type="xs:boolean" />
      <xs:element minOccurs="0" name="UyeMaksKullanimSayisi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaHediyeCeki" nillable="true" type="tns:WebKampanyaHediyeCeki" />
  <xs:complexType name="WebKampanyaHediyeUrunBilgisi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Etiketler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="Kategoriler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="Markalar" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="OtomatikSepeteEkle" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tedarikciler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="UrunAdedi" type="xs:int" />
      <xs:element minOccurs="0" name="Urunler" nillable="true" type="tns:ArrayOfWebKampanyaHediyeUrun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaHediyeUrunBilgisi" nillable="true" type="tns:WebKampanyaHediyeUrunBilgisi" />
  <xs:complexType name="ArrayOfWebKampanyaHediyeUrun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaHediyeUrun" nillable="true" type="tns:WebKampanyaHediyeUrun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaHediyeUrun" nillable="true" type="tns:ArrayOfWebKampanyaHediyeUrun" />
  <xs:complexType name="WebKampanyaHediyeUrun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="IslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemTipi" type="xs:int" />
      <xs:element minOccurs="0" name="Resim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaHediyeUrun" nillable="true" type="tns:WebKampanyaHediyeUrun" />
  <xs:complexType name="WebKampanyaKosul">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bankalar" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BinNumaralari" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="BirlestirilebilirKampanyalar" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="Etiketler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="HediyeCekiIleKullanilabilir" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndirimliUrunlerdeGecerli" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kategoriler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="Markalar" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="OdemeTipleri" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Taksitler" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Tedarikciler" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
      <xs:element minOccurs="0" name="Tip" type="xs:int" />
      <xs:element minOccurs="0" name="Urunler" nillable="true" type="tns:ArrayOfWebKampanyaKosulUrun" />
      <xs:element minOccurs="0" name="UyeGruplari" nillable="true" type="tns:ArrayOfWebKampanyaIDTanim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaKosul" nillable="true" type="tns:WebKampanyaKosul" />
  <xs:complexType name="ArrayOfWebKampanyaKosulUrun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaKosulUrun" nillable="true" type="tns:WebKampanyaKosulUrun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaKosulUrun" nillable="true" type="tns:ArrayOfWebKampanyaKosulUrun" />
  <xs:complexType name="WebKampanyaKosulUrun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" type="xs:double" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaKosulUrun" nillable="true" type="tns:WebKampanyaKosulUrun" />
  <xs:complexType name="ArrayOfWebKampanyaSaatAraligi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaSaatAraligi" nillable="true" type="tns:WebKampanyaSaatAraligi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaSaatAraligi" nillable="true" type="tns:ArrayOfWebKampanyaSaatAraligi" />
  <xs:complexType name="WebKampanyaSaatAraligi">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaslangicSaati" type="xs:int" />
      <xs:element minOccurs="0" name="BitisSaati" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaSaatAraligi" nillable="true" type="tns:WebKampanyaSaatAraligi" />
  <xs:complexType name="ArrayOfWebKampanyaUye">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaUye" nillable="true" type="tns:WebKampanyaUye" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaUye" nillable="true" type="tns:ArrayOfWebKampanyaUye" />
  <xs:complexType name="WebKampanyaUye">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailGonder" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaUye" nillable="true" type="tns:WebKampanyaUye" />
  <xs:complexType name="WebKampanyaUygulamaYontemi">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdetAraliklari" nillable="true" type="tns:ArrayOfWebKampanyaFiyatAdetAraligi" />
      <xs:element minOccurs="0" name="FiyatAraliklari" nillable="true" type="tns:ArrayOfWebKampanyaFiyatAdetAraligi" />
      <xs:element minOccurs="0" name="IndirimDegerleri" nillable="true" type="tns:ArrayOfWebKampanyaIndirimDeger" />
      <xs:element minOccurs="0" name="IndirimUrunOncelik" type="xs:int" />
      <xs:element minOccurs="0" name="SatirBazliUygula" type="xs:boolean" />
      <xs:element minOccurs="0" name="SepeteUygula" type="xs:boolean" />
      <xs:element minOccurs="0" name="SepetteIndirim" type="xs:boolean" />
      <xs:element minOccurs="0" name="UcretliUrunAdedi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaUygulamaYontemi" nillable="true" type="tns:WebKampanyaUygulamaYontemi" />
  <xs:complexType name="ArrayOfWebKampanyaFiyatAdetAraligi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaFiyatAdetAraligi" nillable="true" type="tns:WebKampanyaFiyatAdetAraligi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaFiyatAdetAraligi" nillable="true" type="tns:ArrayOfWebKampanyaFiyatAdetAraligi" />
  <xs:complexType name="WebKampanyaFiyatAdetAraligi">
    <xs:sequence>
      <xs:element minOccurs="0" name="IslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemTipi" type="xs:int" />
      <xs:element minOccurs="0" name="Max" type="xs:double" />
      <xs:element minOccurs="0" name="Min" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaFiyatAdetAraligi" nillable="true" type="tns:WebKampanyaFiyatAdetAraligi" />
  <xs:complexType name="ArrayOfWebKampanyaIndirimDeger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebKampanyaIndirimDeger" nillable="true" type="tns:WebKampanyaIndirimDeger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebKampanyaIndirimDeger" nillable="true" type="tns:ArrayOfWebKampanyaIndirimDeger" />
  <xs:complexType name="WebKampanyaIndirimDeger">
    <xs:sequence>
      <xs:element minOccurs="0" name="IslemDegeri" type="xs:double" />
      <xs:element minOccurs="0" name="IslemTipi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebKampanyaIndirimDeger" nillable="true" type="tns:WebKampanyaIndirimDeger" />
  <xs:complexType name="SelectBankaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankaList" nillable="true" type="tns:ArrayOfWebBanka" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectBankaResponse" nillable="true" type="tns:SelectBankaResponse" />
  <xs:complexType name="ArrayOfWebBanka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebBanka" nillable="true" type="tns:WebBanka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebBanka" nillable="true" type="tns:ArrayOfWebBanka" />
  <xs:complexType name="WebBanka">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankaKartTuru" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankaKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkmBankaKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkmBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkmVarsayilan" type="xs:boolean" />
      <xs:element minOccurs="0" name="IadeAktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="KartTipi" type="xs:int" />
      <xs:element minOccurs="0" name="Kod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KrediKarti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailOrderVar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Servis" type="xs:int" />
      <xs:element minOccurs="0" name="Sira" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TekCekim" type="xs:boolean" />
      <xs:element minOccurs="0" name="is3DVar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebBanka" nillable="true" type="tns:WebBanka" />
  <xs:complexType name="SelectSilinenUyelerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SilinmeTarihiBas" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SilinmeTarihiSon" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UyelikTarihiBas" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UyelikTarihiSon" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectSilinenUyelerRequest" nillable="true" type="tns:SelectSilinenUyelerRequest" />
  <xs:complexType name="SelectSilinenUyelerResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SilinenUyeList" nillable="true" type="tns:ArrayOfSilinenUye" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectSilinenUyelerResponse" nillable="true" type="tns:SelectSilinenUyelerResponse" />
  <xs:complexType name="ArrayOfSilinenUye">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SilinenUye" nillable="true" type="tns:SilinenUye" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSilinenUye" nillable="true" type="tns:ArrayOfSilinenUye" />
  <xs:complexType name="SilinenUye">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MusteriKodu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SilinenUye" nillable="true" type="tns:SilinenUye" />
  <xs:complexType name="GetMailListRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailKod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMailListRequest" nillable="true" type="tns:GetMailListRequest" />
  <xs:complexType name="GetMailListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="MailListesi" nillable="true" type="tns:ArrayOfGetMailListModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMailListResponse" nillable="true" type="tns:GetMailListResponse" />
  <xs:complexType name="ArrayOfGetMailListModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetMailListModel" nillable="true" type="tns:GetMailListModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetMailListModel" nillable="true" type="tns:ArrayOfGetMailListModel" />
  <xs:complexType name="GetMailListModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EklemeTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IpAdresi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailIzin" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailKod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmsIzin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Soyisim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMailListModel" nillable="true" type="tns:GetMailListModel" />
  <xs:complexType name="SaveMailListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveMailListResponse" nillable="true" type="tns:SaveMailListResponse" />
  <xs:complexType name="Webhook">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IslemTipi" type="tns:WebhookIslem" />
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sifre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Webhook" nillable="true" type="tns:Webhook" />
  <xs:simpleType name="WebhookIslem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SiparisOlustu">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KapidaOdemeTelefonlaOnay">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeKayitOldu" />
      <xs:enumeration value="UyeBilgileriGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeAdresiEklendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeAdresiGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeAdresiSilindi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeIptalTalebindeBulundu">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeFavoriUrunEkledi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeFavoriUrunSildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeFiyatAlarmEkledi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeFiyatAlarmSildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeDestekTalebiEkledi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeDestekTalebiCozuldu">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeDestekTalebiCevaplandi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UyeHavaleBildirimiEkledi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CariOdemeEklendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SiparisKargoyaVerildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UrunEklendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UrunGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SiparisDurumuDegistirildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UrunStokGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SepeteUrunEklendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SepettenUrunCikartildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VaryasyonEklendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VaryasyonGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TopluUrunIslemiKartAktifGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TopluUrunIslemiVaryasyonAktifGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TopluUrunIslemiFiyatGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TopluUrunIslemiStokGuncellendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SiparisUrunDurumuDegistirildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SiparisTeslimatAdresiDegistirildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SiparisFaturaAdresiDegistirildi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebhookIslem" nillable="true" type="tns:WebhookIslem" />
  <xs:complexType name="SaveWebhookResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveWebhookResponse" nillable="true" type="tns:SaveWebhookResponse" />
  <xs:complexType name="SelectWebhookRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IslemTipi" nillable="true" type="tns:WebhookIslem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectWebhookRequest" nillable="true" type="tns:SelectWebhookRequest" />
  <xs:complexType name="SelectWebhookResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="WebhookList" nillable="true" type="tns:ArrayOfWebhook" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectWebhookResponse" nillable="true" type="tns:SelectWebhookResponse" />
  <xs:complexType name="ArrayOfWebhook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Webhook" nillable="true" type="tns:Webhook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebhook" nillable="true" type="tns:ArrayOfWebhook" />
  <xs:complexType name="DeleteWebhookResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteWebhookResponse" nillable="true" type="tns:DeleteWebhookResponse" />
  <xs:complexType name="SelectIadeOdemeListesiRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="KullaniciID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OdemeDurumu" type="tns:WebIadeOdemeDurum" />
      <xs:element minOccurs="0" name="OdemeTipi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TarihBaslangic" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TarihBitis" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UyeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectIadeOdemeListesiRequest" nillable="true" type="tns:SelectIadeOdemeListesiRequest" />
  <xs:simpleType name="WebIadeOdemeDurum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tumu">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Odenmedi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Odendi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebIadeOdemeDurum" nillable="true" type="tns:WebIadeOdemeDurum" />
  <xs:complexType name="SelectIadeOdemeListesiResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IadeOdemeListesi" nillable="true" type="tns:ArrayOfWebIdadeOdeme" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectIadeOdemeListesiResponse" nillable="true" type="tns:SelectIadeOdemeListesiResponse" />
  <xs:complexType name="ArrayOfWebIdadeOdeme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebIdadeOdeme" nillable="true" type="tns:WebIdadeOdeme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebIdadeOdeme" nillable="true" type="tns:ArrayOfWebIdadeOdeme" />
  <xs:complexType name="WebIdadeOdeme">
    <xs:sequence>
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IbanAdiSoyadi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciID" type="xs:int" />
      <xs:element minOccurs="0" name="OdemeDurumu" type="tns:WebIadeOdemeDurum" />
      <xs:element minOccurs="0" name="OdemeTipi" type="xs:int" />
      <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tutar" type="xs:double" />
      <xs:element minOccurs="0" name="UyeAdi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIdadeOdeme" nillable="true" type="tns:WebIdadeOdeme" />
  <xs:complexType name="DeleteMailListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetMailListRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteMailListRequest" nillable="true" type="tns:DeleteMailListRequest" />
  <xs:complexType name="DeleteMailListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServisResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteMailListResponse" nillable="true" type="tns:DeleteMailListResponse" />
</xs:schema>